# Virtual Environment
smader/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac OS
.DS_Store

# IDEs and Editors
.vscode/
.idea/

# Node/Vue Environment
node_modules/
dist/
dist-ssr/
.env
.env.local
.env.*.local

